@if(data){
    <div class=" px-64 logo_text text-3xl orange_gradient mt-16 mb-16">
        Similar Events
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 px-64">
        @for (event of data; track event.id) {
            <div class="rounded-xl overflow-hidden shadow-lg flex flex-col transition hover:shadow-xl bg-white">
                <div class="relative h-48">
                    <img class="w-full h-full object-cover"
                    [src]="event.images.length ? `http://localhost:5279/api/v1/eventimage/download/${event.images[0]}` : 'https://via.placeholder.com/500x300'"
                    alt="Event Image" />
                    <div class="absolute inset-0 bg-black opacity-20 hover:opacity-10 transition duration-300"></div>
                    
                    <div
                    class="absolute top-2 right-2 bg-orange-600 text-white px-3 py-1 text-xs rounded shadow hover:bg-white hover:text-orange-600 transition duration-300 ease-in-out">
                    {{ event.category }}
                </div>
            </div>
            
            <div class="px-4 py-3 flex-1">
                <h3 class="text-lg font-semibold orange_gradient mb-1 line-clamp-1">{{ event.title }}</h3>
                
                <div class="text-xs mb-1">
                    <span *ngIf="isCancelled(event)" class="text-red-500 font-medium">(Cancelled)</span>
                    <span *ngIf="!isCancelled(event) && getTotalBooked(event) >= getTotalAvailable(event)"
                        class="text-yellow-500 font-medium">(House Full)</span>
                    </div>
                    
                    <p class="text-sm text-gray-600 line-clamp-2">
                        {{ event.description }}
                    </p>
                </div>
                <div class="px-4 py-2 text-xs text-gray-500 flex justify-between items-center bg-gray-100">
                    <span>📅 {{ event.eventDate | date: 'mediumDate' }}</span>
                    <span>📍 {{ event.location }}</span>
                </div>
                <div class="px-4 pt-2 text-xs text-gray-700">
                    <strong>Tickets:</strong>
                    <ul class="flex mt-1 gap-4 flex-wrap list-none">
                        @for (ticket of event.ticketTypes; track ticket.id) {
                            <li>
                                {{ ticketTypeToString(ticket.typeName) }} — ₹{{ ticket.price }}
                                ({{ ticket.totalQuantity - ticket.bookedQuantity }} left)
                            </li>
                        }
                    </ul>
                </div>
                <div class="px-4 py-3 flex-center m-2">
                    <button class="black_btn w-1/2" (click)="GetEventById(event)">
                        View Details
                    </button>
                </div>
            </div>
        }
    </div>
    
}