<div class="main">
  <div class="gradient"></div>
</div>
<nav class="flex-between w-full pt-6 px-6 z-10 relative">
  <div class="flex items-center gap-2">
    <span class="logo_text text-2xl orange_gradient">Eventify</span>
  </div>
  <div class="flex gap-4">
    <a routerLink="/login" class="black_btn">Login</a>
    <a routerLink="/register" class="outline_btn">Register</a>
  </div>
</nav>

<section class="app text-center">
  <h1 class="head_text orange_gradient">Welcome to Eventify</h1>
  <p class="desc">
    Discover and manage the best events around you. Join as a user or an event manager to explore more.
  </p>
</section>




<footer class="text-center text-sm text-orange-600 mt-16 z-10 -bottom-[700px]">
  © 2025 Eventify. All rights reserved.
</footer>