<section class="max-w-5xl mx-auto p-6 space-y-8 bg-white shadow-2xl rounded-2xl mt-10">
  <div class=" flex-between ">
    <div class=" flex flex-col justify-center items-center h-64 w-128 gap-2">
      <h2 class="text-4xl font-bold orange_gradient">{{ event()?.title }}</h2>
      <p class="text-gray-600">{{ event()?.description }}</p>
      <div class=" flex gap-2">
        <strong>Date:</strong> <p>{{ event()?.eventDate | date: 'medium' }}</p>
      </div>
      <div class=" flex gap-2">
        <strong>Status:</strong> <p>{{ event()?.eventStatus }}</p>
      </div>
      <div class=" flex gap-2">
        <strong>City:</strong> <p>{{ event()?.location }}</p>
      </div>
      <div class=" flex gap-2">
        <strong>Category:</strong> <p>{{ event()?.category }}</p>
      </div>
      <div class=" flex gap-2">
        <strong>Type:</strong> <p>{{ event()?.eventType }}</p>
      </div>
    </div>
    <div class="h-64 w-128 bg-gray-100 flex justify-center items-center overflow-hidden relative rounded-lg">
      @if ((imageid()?.length ?? 0) === 1) {
        <img
          [src]="`http://localhost:5279/api/v1/eventimage/download/${(imageid() ?? [])[0]}`"
          alt="event image"
          class="w-full h-full object-cover rounded-lg"
        />
      }
      @else if ((imageid()?.length ?? 0) > 1) {
        <div class="flex transition-transform duration-700 ease-in-out w-full h-full"
            [style.transform]="'translateX(-' + (currentImageIndex * 100) + '%)'">
          @for (id of imageid(); track id) {
            <div class="min-w-full h-full">
              <img
                [src]="`http://localhost:5279/api/v1/eventimage/download/${id}`"
                alt="event image"
                class="w-full h-full object-cover rounded-lg"
              />
            </div>
          }
        </div>
      }
    </div>


  </div>
 <form *ngIf="form" [formGroup]="form" (ngSubmit)="submit()" class="grid md:grid-cols-2 gap-6">
  <div class="md:col-span-2">
    <div class=" flex-start gap-2">
      <label class="block text-sm font-medium text-gray-700">Ticket Type</label>
      @if(selectedTicketType()){
        <p class=" text-red-400">Available Seats : {{availableToBook}}</p>
      }
    </div>
    <select class="form_select w-full mt-1" formControlName="ticketTypeId">
      <option [ngValue]="null">-- Select Ticket Type --</option>
      @for (type of event()?.ticketTypes; track type.id) {
        <option [ngValue]="type.id" [disabled]="type.isDeleted">
          {{ ticketTypeToString(type.typeName) }} - ₹{{ type.price }}
        </option>
      }
    </select>
    @if (form.get('ticketTypeId')?.touched && form.get('ticketTypeId')?.invalid) {
      <p class="text-sm text-red-500 mt-1">Ticket type is required.</p>
    }
  </div>

  <div>
    <label class="block text-sm font-medium text-gray-700">Quantity</label>
    <input
      type="number"
      class="form_input w-full mt-1"
      formControlName="quantity"
      min="1"
    />
    @if (form.get('quantity')?.touched && form.get('quantity')?.errors?.['required']) {
      <p class="text-sm text-red-500 mt-1">Quantity is required.</p>
    }
    @if (form.get('quantity')?.touched && form.get('quantity')?.errors?.['min']) {
      <p class="text-sm text-red-500 mt-1">Minimum quantity is 1.</p>
    }
  </div>

  <div class="md:col-span-2 flex flex-col gap-1 text-sm text-gray-700">
      <p><strong>Wallet Balance:</strong> ₹{{ userWallet?.balance }}</p>
      <p *ngIf="userWallet?.expiry"><strong>Expires:</strong> {{ userWallet?.expiry | date:'mediumDate' }}</p>
  </div>
  <!-- <pre>{{ userWallet | json }}</pre> -->


  <!-- Use Wallet Toggle -->
  <div class="md:col-span-2 flex items-center gap-3">
    <input type="checkbox" id="useWallet" formControlName="useWallet" class="form-checkbox h-4 w-4 text-indigo-600" />
    <label for="useWallet" class="text-sm text-gray-700">Use Wallet Balance</label>
  </div>

  <div>
    <label class="block text-sm font-medium text-gray-700">Payment Method</label>
    <select class="form_select w-full mt-1" formControlName="paymentType">
      <option [ngValue]="null">-- Select Payment Type --</option>
      @for (type of paymentTypes; track type[1]) {
        <option [ngValue]="type[1]">{{ type[0] }}</option>
      }
    </select>
    @if (form.get('paymentType')?.touched && form.get('paymentType')?.invalid) {
      <p class="text-sm text-red-500 mt-1">Payment method is required.</p>
    }
  </div>

  @if (selectedTicketType() && event()!.eventType.toString() == eventTypeToString(0)) {
    <div class="md:col-span-2 space-y-2">
      <div class="flex-between mb-4">
        <label class="block text-sm font-medium text-gray-700">Select Seats</label>
        <div class="flex items-center gap-2 text-sm text-black mb-2">
          <div class="flex items-center gap-1">
            <div class="w-4 h-4 rounded bg-orange-400 border border-gray-300"></div>
            <span>Booked</span>
          </div>
          <div class="flex items-center gap-1">
            <div class="w-4 h-4 rounded bg-green-500 border border-gray-300"></div>
            <span>Selected</span>
          </div>
          <div class="flex items-center gap-1">
            <div class="w-4 h-4 rounded bg-white border border-gray-500"></div>
            <span>Available</span>
          </div>
        </div>
      </div>
      <div class="grid grid-cols-10 gap-2">
        @for (seat of generateSeats(selectedTicketType()?.totalQuantity ?? 0); track seat) {
          <button
            type="button"
            [disabled]="isSeatBooked(seat)"
            [ngClass]="
              isSeatBooked(seat)
                ? 'bg-orange-400 cursor-not-allowed'
                : isSeatSelected(seat)
                  ? 'bg-green-500 text-white'
                  : 'bg-white'
            "
            class="border rounded p-1 text-xs transition duration-200"
            (click)="toggleSeat(seat)">
            {{ seat }}
          </button>
        }
      </div>
    </div>
  }

  <div class="md:col-span-2">
    <button
      type="submit"
      class="w-full mt-4 px-4 py-2 rounded text-white transition 
            black_btn disabled:opacity-50 disabled:cursor-not-allowed"
      [disabled]="form.invalid">
      Book Now
    </button>

  </div>
</form>
</section>
<section>
  <app-similar-events [data]="similarEvents()" ></app-similar-events>
</section>