<div class="flex h-screen">
  <div class="flex-1 bg-black text-white flex flex-col justify-center items-center">
    <h1 class="logo_text text-5xl orange_gradient">Evently</h1>
  </div>

  <div class="flex-1 flex flex-col justify-center items-center px-10">
    <div class=" p-4 orange_gradient text-5xl mb-8 logo_text">Login</div>
    <form class="w-full max-w-sm space-y-4" [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div>
        <input class="form_input" placeholder="Email" formControlName="email" type="email" />
        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
          class="text-red-500 text-sm mt-1">
          Valid email is required.
        </div>
      </div>

      <div>
        <input class="form_input" type="password" placeholder="Password" formControlName="password" />
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
          class="text-red-500 text-sm mt-1">
          Password must be at least 6 characters.
        </div>
      </div>

      <button class="black_btn w-full disabled:cursor-not-allowed" type="submit" [disabled]="loginForm.invalid">
        Login
      </button>

      <p class="text-sm text-center text-gray-500">
        Don't have an account?
        <a class="text-blue-500 underline" [routerLink]="['/register']">Register</a>
      </p>
    </form>
  </div>
</div>