<section class="max-w-5xl mx-auto p-6 space-y-8 bg-white shadow-xl rounded-2xl mt-10">
  <div class="flex justify-between items-center">
    <h2 class="text-2xl font-bold orange_gradient">Event Details</h2>
    <div class=" flex-center gap-2">
      @if(isEditingEvent()){
      <button class="black_btn" (click)="saveEvent()">
        Save Event
      </button>
      <button class="outline_btn" (click)="toggleEditEvent()">
        Cancell
      </button>
      }
      @else {
      @if(!isImageAdd()){
      <button class=" black_btn" (click)="toggleEventImageAdd()">Add the Images</button>
      }
      @else {
      <button class=" black_btn" (click)="toggleEventImageAdd()">Cancel Image Add</button>
      }
      @if(!isImageEdit()){
      <button class=" outline_btn" (click)="toggleEventImage()">Edit the Images</button>
      }
      @else {
      <button class=" outline_btn" (click)="toggleEventImage()">Cancel Image Edit</button>
      }
      <button class="black_btn" (click)="toggleEditEvent()">
        Edit Event
      </button>
      <button class="outline_btn" [routerLink]="[this.router.url , 'tickets']">
        Booked Tickets
      </button>
      }
    </div>
  </div>
  @if(isImageAdd()){
  <div class="flex justify-center items-center gap-8 p-4 h-16 w-full">
    <input type="file" #fileInput accept="image/*" class="hidden" (change)="handleFileChange($event)" />
    <button type="button" class="outline_btn" (click)="fileInput.click()">Click here to Choose Image</button>
    <div *ngIf="selectedFile" class=" flex-center gap-2">
      <p class="text-sm text-gray-600">Selected: {{ selectedFile.name }}</p>
      <button class="outline_btn mt-2" (click)="submitImage()">Add</button>
    </div>
  </div>
  }
  @else if(!isImageEdit()){
  <div class=" w-full h-full">
    @if (images()?.length === 1) {
    <img [src]="`http://localhost:5279/api/v1/eventimage/download/${(images() ?? [])[0]}`" alt="event image"
      class="w-full h-full object-cover rounded-lg" />
    }
    @else if (images()?.length === 0) {
    <div class=" w-full h-[100px] bg-gray-500 flex-center">No Images added</div>
    }
    @else if (images() && (images()?.length ?? 0) > 1) {
    <img [src]="`http://localhost:5279/api/v1/eventimage/download/${(images() ?? [])[currentImageIndex]}`"
      alt="event image" class="w-full h-full object-cover rounded-lg transition duration-500 ease-in-out" />
    }
  </div>
  }
  @else {
  <div class="flex flex-wrap justify-center items-center gap-16 p-4">
    @for(item of images();track $index){
    <div class=" w-64 h-32 flex justify-center items-center gap-8">
      <div class=" w-full h-full bg-amber-700">
        <img [src]="`http://localhost:5279/api/v1/eventimage/download/${(images() ?? [])[$index]}`" alt="event image"
          class="w-64 h-32 object-cover rounded-lg" />
      </div>
      <div>
        <button class="outline_btn" (click)="deleteImage(item)">Delete</button>
      </div>
    </div>
    }
  </div>
  }
  @if (eventForm) {
  <form [formGroup]="eventForm" class="grid md:grid-cols-2 gap-6">
    <div>
      <label class="block text-sm font-medium text-gray-700">Title</label>
      <input type="text" formControlName="title" class="form_input w-full" [readonly]="!isEditingEvent()" />
      @if (eventForm.get('title')?.invalid && eventForm.get('title')?.touched) {
      <p class="text-red-500 text-sm">Title is required.</p>
      }
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Description</label>
      <input type="text" formControlName="description" class="form_input w-full" [readonly]="!isEditingEvent()" />
      @if (eventForm.get('description')?.invalid && eventForm.get('description')?.touched) {
      <p class="text-red-500 text-sm">Description is required.</p>
      }
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Status</label>
      @if (!isEditingEvent()) {
      <input type="text" formControlName="eventStatus" class="form_input w-full" readonly />
      } @else {
      <select formControlName="eventStatus" class="form_select w-full">
        <option value="" disabled>Select status</option>
        <option value="Active">Active</option>
        <option value="Cancelled">Cancelled</option>
        <option value="Completed">Completed</option>
      </select>
      @if (eventForm.get('eventStatus')?.invalid && eventForm.get('eventStatus')?.touched) {
      <p class="text-red-500 text-sm">Status is required.</p>
      }
      }
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Type</label>
      <input type="text" formControlName="eventType" class="form_input w-full" [readonly]="true" />
      @if (eventForm.get('eventType')?.invalid && eventForm.get('eventType')?.touched) {
      <p class="text-red-500 text-sm">Type is required.</p>
      }
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700">Date</label>
      <input type="datetime" formControlName="eventDate" class="form_input w-full" [readonly]="true" />
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">Category</label>
      <input type="text" formControlName="category" class="form_input w-full" readonly />
      @if (eventForm.get('category')?.invalid && eventForm.get('category')?.touched) {
      <p class="text-red-500 text-sm">Category is required.</p>
      }
    </div>

    <div>
      <label class="block text-sm font-medium text-gray-700 mb-1">City</label>
      <input type="text" formControlName="location" class="form_input w-full" readonly />
      @if (eventForm.get('location')?.invalid && eventForm.get('location')?.touched) {
      <p class="text-red-500 text-sm">City is required.</p>
      }
    </div>
  </form>
  }

  <div>
    <div class="flex justify-between items-center mt-8 mb-4">
      <h3 class="text-xl font-semibold text-gray-800">Ticket Types</h3>
      <button class="outline_btn" (click)="startAddTicketType()">Add Ticket Type</button>
    </div>

    @if (ticketTypes().length > 0) {
    <div class="overflow-x-auto">
      <table class="min-w-full text-sm text-left border rounded-xl overflow-hidden">
        <thead class="bg-gray-100 text-gray-700 text-center">
          <tr>
            <th class="py-3 px-4">Type</th>
            <th class="py-3 px-4">Price</th>
            <th class="py-3 px-4">Total Qty</th>
            <th class="py-3 px-4">Booked</th>
            <th class="py-3 px-4">Description</th>
            <th class="py-3 px-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (t of ticketTypes(); track t.id) {
          <tr class="hover:bg-gray-200 text-center">
            <td class="py-2">{{ t.typeName == 0 ? 'Regular' : 'VIP' }}</td>
            <td class="py-2">₹{{ t.price }}</td>
            <td class="py-2">{{ t.totalQuantity }}</td>
            <td class="py-2">{{ t.bookedQuantity ?? 0 }}</td>
            <td class="py-2">{{ t.description }}</td>
            @if(t.isDeleted == false)
            {
            <td class="px-4 py-4 flex justify-center gap-2 flex-wrap text-center font-semibold">
              <button class="black_btn" (click)="editTicketType(t)">Edit</button>
              <button class="outline_btn" (click)="deleteTicketType(t.id)">Delete</button>
            </td>
            }
            @else {
            <td class="px-4 py-4 text-center font-semibold">
              <span class="text-red-500">No Action on Deleted Ticket Type</span>
            </td>
            }
          </tr>
          }
        </tbody>
      </table>
    </div>
    } @else {
    <p class="text-gray-500 italic mt-4">No ticket types added yet.</p>
    }
    @if (isAddingTicketType()) {
    <div class="mt-6 p-6 bg-gray-50 border rounded-xl">
      <form [formGroup]="ticketTypeForm" class="grid md:grid-cols-2 gap-6">
        <div>
          <label class="block text-sm font-medium text-gray-700">Type</label>
          <select formControlName="typeName" class="form_select w-full">
            <option [ngValue]="null">-- Select TicketType ---</option>
            <option [ngValue]="0">Regular</option>
            <option [ngValue]="1">VIP</option>
            <option [ngValue]="2">Early Bird</option>
          </select>
          @if (ticketTypeForm.get('typeName')?.touched && ticketTypeForm.get('typeName')?.invalid) {
          <p class="text-red-500 text-sm">Type is required.</p>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Price</label>
          <input type="number" formControlName="price" class="form_input w-full"
            [readonly]="ticketTypeForm.get('id')?.value != null" placeholder="Enter Price"/>
          @if (ticketTypeForm.get('price')?.invalid && ticketTypeForm.get('price')?.touched) {
          <p class="text-red-500 text-sm">Price must be at least ₹1.</p>
          }
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Quantity</label>
          <input type="number" formControlName="totalQuantity" class="form_input w-full" placeholder="Enter Quantity"/>
          @if (ticketTypeForm.get('totalQuantity')?.invalid && ticketTypeForm.get('totalQuantity')?.touched) {
          <p class="text-red-500 text-sm">Quantity must be at least 1.</p>
          }
        </div>

        <div class="md:col-span-2">
          <label class="block text-sm font-medium text-gray-700">Description</label>
          <input type="text" formControlName="description" class="form_input w-full" placeholder="Enter Description"/>
          @if (ticketTypeForm.get('description')?.invalid && ticketTypeForm.get('description')?.touched) {
          <p class="text-red-500 text-sm">Description is requird</p>
          }
        </div>
      </form>

      <div class="flex justify-end gap-2 mt-6">
        <button class="black_btn disabled:cursor-not-allowed" (click)="submitTicketType()"
          [disabled]="ticketTypeForm.invalid">
          {{ ticketTypeForm.value.id ? 'Update' : 'Add' }} Ticket Type
        </button>
        <button class="outline_btn" (click)="cancelEditTicketType()">Cancel</button>
      </div>
    </div>
    }

  </div>
</section>