<section class="pl-64 pr-64 mt-8">
  <h2 class="text-4xl font-semibold mb-8 orange_gradient">All Events</h2>
  <div class="grid grid-cols-1 lg:grid-cols-4 gap-6">

    <div class="col-span-1 bg-white rounded-xl p-6 drop-shadow-md flex flex-col gap-4 sticky top-6 h-fit">
      <h3 class="text-xl font-semibold mb-2 text-gray-700">Filters</h3>

      <select [(ngModel)]="location" class="form_select" [disabled]="cityOptions.length === 0">
        <option value="">Select a City</option>
        @for (city of cityOptions; track city.id) {
        <option [value]="city.id">{{ city.label }}</option>
        }
      </select>

      <select [(ngModel)]="selectedCategory" class="form_select">
        <option [value]="-111">Select Category</option>
        @for (option of categoryOptions; track option.value) {
        <option [value]="option.value">{{ option.name }}</option>
        }
      </select>

      <input type="text" placeholder="Search Event..." [(ngModel)]="searchElement" class="form_input" />

      <input type="date" [(ngModel)]="filterDate" class="form_input" />

      <button class="black_btn w-full" (click)="onFilterChange()">Filter</button>
    </div>

    <div class="col-span-1 lg:col-span-3 grid grid-cols-1 sm:grid-cols-2 gap-6">
      @for (event of events(); track event.id) {
      <div class="rounded-xl overflow-hidden shadow-lg flex flex-col transition hover:shadow-xl bg-white">
        <div class="relative h-48">
          <img class="w-full h-full object-cover"
            [src]="event.images.length ? `http://localhost:5279/api/v1/eventimage/download/${event.images[0]}` : 'https://via.placeholder.com/500x300'"
            alt="Event Image" />
          <div class="absolute inset-0 bg-black opacity-20 hover:opacity-10 transition duration-300"></div>

          <div
            class="absolute top-2 right-2 bg-orange-600 text-white px-3 py-1 text-xs rounded shadow hover:bg-white hover:text-orange-600 transition duration-300 ease-in-out">
            {{ event.category }}
          </div>
        </div>

        <div class="px-4 py-3 flex-1">
          <h3 class="text-lg font-semibold orange_gradient mb-1 line-clamp-1">{{ event.title }}</h3>

          <div class="text-xs mb-1">
            <span *ngIf="isCancelled(event)" class="text-red-500 font-medium">(Cancelled)</span>
            <span *ngIf="!isCancelled(event) && getTotalBooked(event) >= getTotalAvailable(event)"
              class="text-red-500 font-medium">(House Full)</span>
          </div>

          <p class="text-sm text-gray-600 line-clamp-2">
            {{ event.description }}
          </p>
        </div>
        <div class="px-4 py-2 text-xs text-gray-500 flex justify-between items-center bg-gray-100">
          <span>📅 {{ event.eventDate | date: 'mediumDate' }}</span>
          <span>📍 {{ event.location }}</span>
        </div>
        <div class="px-4 pt-2 text-xs text-gray-700">
          <strong>Tickets:</strong>
          <ul class="flex mt-1 gap-4 flex-wrap list-none">
            @for (ticket of event.ticketTypes; track ticket.id) {
            <li>
              {{ ticketTypeToString(ticket.typeName) }} — ₹{{ ticket.price }}
              ({{ ticket.totalQuantity - ticket.bookedQuantity }} left)
            </li>
            }
          </ul>
        </div>
        <div class="px-4 py-3 flex-center m-2">
          <button class="black_btn w-1/2" (click)="GetEventById(event)">
            View Details
          </button>
        </div>
      </div>
      }
      @if(events().length <= 0){
        <div class="flex-center italic font-bold">No Events Available at the moment!</div>
      }
    </div>
  </div>
  <div class="flex justify-center mt-10 gap-4">
    <button class="outline_btn disabled:cursor-not-allowed" [disabled]="pageNumber() === 1" (click)="goToPage(pageNumber() - 1)">
      Previous
    </button>
    <span class="px-4 py-2 text-gray-600 font-medium">
      Page {{ pageNumber() }} of {{ totalPages() }}
    </span>
    <button class="black_btn disabled:cursor-not-allowed" [disabled]="pageNumber() === totalPages()" (click)="goToPage(pageNumber() + 1)">
      Next
    </button>
  </div>
</section>